/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 Jan, 2018, 12:51:37 AM
    Author     : Anees M A
*/

#loading{
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 100000;
    }
    #loading-center{
        width: 100%;
        height: 100%;
        position: relative;
    }
    #loading-center-absolute {
        height: 150px;
        width: 150px;
        margin-top:-4.5%;
        margin-left:3%;
    }
    #load-img{
       margin-top:8%;
    }
    #load-img img{
        max-width:80%;
    }
    .object{
        width: 20px;
        height: 20px;
        background-color: #90c744;
        float: left;
        margin-right: 20px;
        margin-top: 65px;
        -moz-border-radius: 50% 50% 50% 50%;
        -webkit-border-radius: 50% 50% 50% 50%;
        border-radius: 50% 50% 50% 50%;
    }
    #object_one {	
        -webkit-animation: object_one 1.5s infinite;
        animation: object_one 1.5s infinite;
    }
    #object_two {
        -webkit-animation: object_two 1.5s infinite;
        animation: object_two 1.5s infinite;
        -webkit-animation-delay: 0.25s; 
        animation-delay: 0.25s;
    }
    #object_three {
        -webkit-animation: object_three 1.5s infinite;
        animation: object_three 1.5s infinite;
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s;
    }
    @-webkit-keyframes object_one {
    75% { -webkit-transform: scale(0); }
    }
    @keyframes object_one {
        75% { 
                transform: scale(0);
                -webkit-transform: scale(0);
            }
        }
    @-webkit-keyframes object_two {
        75% { -webkit-transform: scale(0); }
    }
    @keyframes object_two {
        75% { 
          transform: scale(0);
          -webkit-transform:  scale(0);
        }
    }
    @-webkit-keyframes object_three {

      75% { -webkit-transform: scale(0); }

    }
    @keyframes object_three {
    75% { 
        transform: scale(0);
        -webkit-transform: scale(0);
        }
    }
    #loading{
        -webkit-animation:preloader 5s;
        animation:preloader 5s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    @-webkit-keyframes preloader {
        0% { -webkit-transform: scale(1); opacity: 1; }
        25% { -webkit-transform: scale(1); opacity: 1; }
        50% { -webkit-transform: scale(1); opacity: 1; }
        75% { -webkit-transform: scale(1); opacity: 1; }
        80% { -webkit-transform: scale(1); opacity: 0.8; }
        85% { -webkit-transform: scale(1); opacity: 0.6; }
        90% { -webkit-transform: scale(1); opacity: 0.4; }
        95% { -webkit-transform: scale(1); opacity: 0.2; }
        100% { -webkit-transform: scale(3); opacity: 0;display:none !important;z-index:-10000; }
    }  

    @keyframes preloader {
        0% { transform: scale(1); opacity: 1; }
        25% { transform: scale(1); opacity: 1; }
        50% { transform: scale(1); opacity: 1; }
        75% { transform: scale(1); opacity: 1; }
        80% { transform: scale(1); opacity: 0.8; }
        85% { transform: scale(1); opacity: 0.6; }
        90% { transform: scale(1); opacity: 0.4; }
        95% { transform: scale(1); opacity: 0.2; }
        100% { transform: scale(3); opacity: 0;display:none ;z-index:-10000; }
    }  

    @media screen and (-webkit-min-device-pixel-ratio:0) 
    { ::i-block-chrome, @keyframes preloader {
        100% { transform: scale(3); opacity: 0;display:none ;z-index:-100000; }
        } 
    }

